
/* Modal */

#chat-modal-spinner::after {
    font-weight: bold;
    font-size: 135%;
    content: "\29D6";
}

/* Toolbar icons */

/* - Emoticons */
#chat-toolbar #emoticons-icon::after {
    /*background-image: url(img/action/emoticons.png);*/
    content: "\25CF"; /* black circle */
}

/* - Settings */
#chat-toolbar .context::before {
    content: "\270D"; /* writing hand */
}

/* - Autoscroll */
#chat-autoscroll-control::after {
    content: "\2B0D"; /* up down black arrow */
    text-decoration: line-through;
}
#chat-autoscroll-control.checked::after {
    content: "\2B0D"; /* up down black arrow */
    text-decoration: none;
}

/* - Status messages */
#chat-statusmessage-control::after {
    content: "\2139"; /* information source */
    text-decoration: none;
}
#chat-statusmessage-control.checked::after {
    content: "\2139"; /* information source */
    text-decoration: line-through;
}

/* Roster */

.roster-pane li.role-moderator::after {
    content: "\2606"; /* white star */
}

.roster-pane li.affiliation-owner::after {
    content: "\2605"; /* black star */
}

.roster-pane li.ignore::after {
    content: "\2717"; /* ballot x */
}

/* - Roster dropdown menu */

#context-menu .private::before {
    content: "\2712\ \ "; /* black nib */
    font-weight: bold; 
    font-size: 130%;
}

#context-menu .ignore::before {
    content: "\2717\ \ "; /* ballot x */
    font-weight: bold; 
    font-size: 130%;
}

#context-menu .unignore::before {
    content: "\2713\ \ "; /* ballot x */
    font-weight: bold; 
    font-size: 130%;
}

#context-menu .kick::before {
    content: "\21CD\ \ "; /* leftwards double arrow with stroke */
    font-weight: bold; 
    font-size: 130%;
}

#context-menu .ban::before {
    content: "\2716 - "; /* heavy multiplication x */
    font-weight: bold; 
    font-size: 130%;
}

/* Actions */

#context-menu .subject::before {
    content: "\2666"; /* black diamond suit */
    font-weight: bold; 
    font-size: 130%;
}

