#colors-control {
	background: no-repeat url('colors-control.png');
	position: relative;
}

#colors-control-indicator {
	display: inline-block;
	height: 6px;
	width: 6px;
	border: 1px solid white;
	position: absolute;
	top: 100%;
	left: 100%;
	margin: -8px 0 0 -8px;
}

#context-menu .colors {
	padding-left: 5px;
	width: 89px;
	white-space: normal;
}

#context-menu .colors:hover {
	background-color: inherit;
}

#context-menu .colors span {
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 1px solid white;
	margin: 3px;
}

.message-pane span.colored {
	background-color: transparent !important;
  cursor: text;
}

.color-0 {
	color: #FAFAFA;
	background-color: #FAFAFA;
}

.color-1 {
	color: #CFD8DC;
	background-color: #CFD8DC;
}

.color-2 {
	color: #FFEB3B;
	background-color: #FFEB3B
}

.color-3 {
	color: #FFB300;
	background-color: #FFB300
}

.color-4 {
	color: #F44336;
	background-color: #F44336;
}

.color-5 {
	color: #F06292;
	background-color: #F06292;
}

.color-6 {
	color: #BA68C8;
	background-color: #BA68C8;
}

.color-7 {
	color: #82B1FF;
	background-color: #82B1FF;
}

.color-8 {
	color: #4FC3F7;
	background-color: #4FC3F7;
}

.color-9 {
	color: #339966;
	background-color: #339966;
}

.color-10 {
	color: #8BC34A;
	background-color: #8BC34A;
}

.color-11 {
	color: #CDDC39;
	background-color: #CDDC39;
}
